BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "INT_PWDN" IO_TYPE=LVTTL33 PULLMODE=UP ;
LOCATE COMP "TX_EN" SITE "17" ;
LOCATE COMP "TXD1" SITE "8" ;
LOCATE COMP "TXD0" SITE "9" ;
LOCATE COMP "TXD2" SITE "5" ;
LOCATE COMP "TXD3" SITE "4" ;
SYSCONFIG JTAG_PORT=DISABLE MUX_CONFIGURATION_PORTS=ENABLE ;
LOCATE COMP "INT_PWDN" SITE "29" ;
LOCATE COMP "LED" SITE "30" ;
IOBUF PORT "TX_CLK" IO_TYPE=LVTTL33 DRIVE=NA ;
IOBUF PORT "LED" IO_TYPE=LVTTL33 ;
IOBUF PORT "TXD0" IO_TYPE=LVTTL33 ;
IOBUF PORT "TXD1" IO_TYPE=LVTTL33 ;
IOBUF PORT "TXD2" IO_TYPE=LVTTL33 ;
IOBUF PORT "TXD3" IO_TYPE=LVTTL33 ;
IOBUF PORT "TX_EN" IO_TYPE=LVTTL33 ;
LOCATE COMP "TX_CLK" SITE "10" ;
IOBUF ALLPORTS PULLMODE=UP IO_TYPE=LVTTL33 OPENDRAIN=OFF CLAMP=ON DIFFRESISTOR=OFF ;
LOCATE COMP "RX_ER" SITE "27" ;
LOCATE COMP "COL" SITE "28" ;
IOBUF PORT "RX_ER" PULLMODE=UP IO_TYPE=LVTTL33 OPENDRAIN=OFF ;
